{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/transform-object-assign",
        "@babel/transform-runtime"
    ],
    "env": {
        "test": {
            "presets": ["jest"]
        }
    }
}