{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": 0,
    "eol-last": ["error", "always"],
    "react/jsx-filename-extension": 0,
    "arrow-parens": 0,
    "react/prop-types": "off",
    "react/forbid-prop-types": [true, { "forbid": ["any", "array"] }],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": false,
    "linebreak-style": ["error", "unix"],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-prototype-builtins": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/no-danger": "off",
    "jsx-a11y/iframe-has-title": "off",
    "import/no-webpack-loader-syntax": "off",
    "react/no-multi-comp": "off",
    "no-confusing-arrow": "off",
    "no-restricted-globals": "off",
    "no-nested-ternary": ["error"],
    "no-empty-function": ["error"],
    "max-statements": ["error", 25],
    "max-nested-callbacks": ["error", 4],
    "max-params": ["error", 4],
    "no-labels": ["error"],
    "max-depth": ["error"],
    "no-shadow-restricted-names": ["error"],
    "no-shadow": ["error"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "operator-linebreak": ["error", "after"],
    "object-property-newline": ["error"],
    "no-negated-condition": ["error"],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION__",
          "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"
        ]
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 0
      }
    ]
  },
  "globals": {
    "jest": true,
    "expect": true,
    "window": true,
    "document": true
  },
  "env": {
    "mocha": true,
    "browser": true
  }
}
